img{
    width:120px;
    height: 44px;
    margin: 20px;
    margin-left: 40px;
    margin-top: 40px;
}


body{ 
    font-family: 'Comfortaa', cursive;
    position: relative;
    background: url("B2.jfif");
    height: 100vh;
    background-position: center;
    background-color: black; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden; 
}

body::before {
    z-index: -1;
    content: '';
    background: linear-gradient(0deg, rgba(45,45,45,0) 0%, rgba(45,45,45,0.85) 100%);
    height: 400px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

body::after {
    z-index: -1;
    content: '';
    background: linear-gradient(-90deg, rgba(45,45,45,0) 0%, rgba(45,45,45,0.85) 100%);
    height: 100%;
    width: 500px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

h1{
    color:rgb(255, 255, 255);
    font-size: 35px;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 100px;
}

.line{
    border-bottom: 2.5px solid rgb(255, 255, 255);
    display: block;
    margin-top: 25px;
    width: 580px;
    margin-left: 40px;
}

p{
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
    width: 600px;
}

.ticket {
    display: inline-block;
    background: #e59441;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 40px;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    color: white;
  }



.taal{
    position: relative;
    margin-top: 50px;
    color: white;
    margin-right: 25px;
 

}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact{ 
    display: flex;
    margin-right: 40px;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    transform: translateY(30px);
    z-index: 2;
}
.menu-btn_open{
    width: 35px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn_open::before,
.menu-btn_open::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn_open::before{
    transform: translateY(-10px);
}
.menu-btn_open::after{
    transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn_open{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn_open::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn_open::after{
    transform: rotate(-45deg) translate(35px, 35px);
}
nav {
    position: fixed;
    top: 0;
    padding-top: 100px;
    right: -400px;
    bottom: 0;
    width: 400px;
    background-color: rgba(0,0,0,0.5);
    transition: 1s;
    z-index: 1;
}
nav.zichtbaar{
    right:0;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    padding: 10px 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    transition: .5s;
}
nav ul li a:hover{
    color: orange;
}